/* fonts families */
$font: ubuntulight;
$fontHeader: abelregular,'PT Sans Narrow';
$fontFacelift: facelift;
$fontFamily: 'Open Sans';

/* sizes */
$sizeSmall: 12px;
$sizeMedium: 13px;
$sizeLarge: 16px;
$sizeDefault: $sizeMedium;
